<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.volunteer.mapper.VolunteerMapper">
    
    <resultMap type="Volunteer" id="VolunteerResult">
        <result property="vStar"    column="v_star"    />
        <result property="vStatus"    column="v_status"    />
        <result property="userId"    column="user_id"    />
        <result property="beiyong1"    column="beiyong1"    />
        <result property="beiyong2"    column="beiyong2"    />
        <result property="beiyong3"    column="beiyong3"    />
    </resultMap>

    <sql id="selectVolunteerVo">
        select v_star, v_status, user_id, beiyong1, beiyong2, beiyong3 from volunteer
    </sql>

    <select id="selectVolunteerList" parameterType="Volunteer" resultMap="VolunteerResult">
        <include refid="selectVolunteerVo"/>
        <where>  
            <if test="vStar != null "> and v_star = #{vStar}</if>
            <if test="vStatus != null "> and v_status = #{vStatus}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="beiyong1 != null  and beiyong1 != ''"> and beiyong1 = #{beiyong1}</if>
            <if test="beiyong2 != null  and beiyong2 != ''"> and beiyong2 = #{beiyong2}</if>
            <if test="beiyong3 != null  and beiyong3 != ''"> and beiyong3 = #{beiyong3}</if>
        </where>
    </select>
    
    <select id="selectVolunteerByVStar" parameterType="Long" resultMap="VolunteerResult">
        <include refid="selectVolunteerVo"/>
        where v_star = #{vStar}
    </select>
        
    <insert id="insertVolunteer" parameterType="Volunteer">
        insert into volunteer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="vStar != null">v_star,</if>
            <if test="vStatus != null">v_status,</if>
            <if test="userId != null">user_id,</if>
            <if test="beiyong1 != null">beiyong1,</if>
            <if test="beiyong2 != null">beiyong2,</if>
            <if test="beiyong3 != null">beiyong3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="vStar != null">#{vStar},</if>
            <if test="vStatus != null">#{vStatus},</if>
            <if test="userId != null">#{userId},</if>
            <if test="beiyong1 != null">#{beiyong1},</if>
            <if test="beiyong2 != null">#{beiyong2},</if>
            <if test="beiyong3 != null">#{beiyong3},</if>
         </trim>
    </insert>

    <update id="updateVolunteer" parameterType="Volunteer">
        update volunteer
        <trim prefix="SET" suffixOverrides=",">
            <if test="vStatus != null">v_status = #{vStatus},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="beiyong1 != null">beiyong1 = #{beiyong1},</if>
            <if test="beiyong2 != null">beiyong2 = #{beiyong2},</if>
            <if test="beiyong3 != null">beiyong3 = #{beiyong3},</if>
        </trim>
        where v_star = #{vStar}
    </update>

    <delete id="deleteVolunteerByVStar" parameterType="Long">
        delete from volunteer where v_star = #{vStar}
    </delete>

    <delete id="deleteVolunteerByVStars" parameterType="String">
        delete from volunteer where v_star in 
        <foreach item="vStar" collection="array" open="(" separator="," close=")">
            #{vStar}
        </foreach>
    </delete>
</mapper>