<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.storehouse.mapper.FacilityUsageRecordMapper">
    
    <resultMap type="FacilityUsageRecord" id="FacilityUsageRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="userId"    column="user_id"    />
        <result property="usageStartTime"    column="usage_start_time"    />
        <result property="usageEndTime"    column="usage_end_time"    />
        <result property="orgId"    column="org_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="beiyong1"    column="beiyong1"    />
        <result property="beiyong2"    column="beiyong2"    />
        <result property="beiyong3"    column="beiyong3"    />
    </resultMap>

    <sql id="selectFacilityUsageRecordVo">
        select record_id, user_id, usage_start_time, usage_end_time, org_id, item_id, beiyong1, beiyong2, beiyong3 from facility_usage_record
    </sql>

    <select id="selectFacilityUsageRecordList" parameterType="FacilityUsageRecord" resultMap="FacilityUsageRecordResult">
        <include refid="selectFacilityUsageRecordVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="usageStartTime != null "> and usage_start_time = #{usageStartTime}</if>
            <if test="usageEndTime != null "> and usage_end_time = #{usageEndTime}</if>
            <if test="orgId != null "> and org_id = #{orgId}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="beiyong1 != null  and beiyong1 != ''"> and beiyong1 = #{beiyong1}</if>
            <if test="beiyong2 != null  and beiyong2 != ''"> and beiyong2 = #{beiyong2}</if>
            <if test="beiyong3 != null  and beiyong3 != ''"> and beiyong3 = #{beiyong3}</if>
        </where>
    </select>
    
    <select id="selectFacilityUsageRecordByRecordId" parameterType="Long" resultMap="FacilityUsageRecordResult">
        <include refid="selectFacilityUsageRecordVo"/>
        where record_id = #{recordId}
    </select>
        
    <insert id="insertFacilityUsageRecord" parameterType="FacilityUsageRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into facility_usage_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="usageStartTime != null">usage_start_time,</if>
            <if test="usageEndTime != null">usage_end_time,</if>
            <if test="orgId != null">org_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="beiyong1 != null">beiyong1,</if>
            <if test="beiyong2 != null">beiyong2,</if>
            <if test="beiyong3 != null">beiyong3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="usageStartTime != null">#{usageStartTime},</if>
            <if test="usageEndTime != null">#{usageEndTime},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="beiyong1 != null">#{beiyong1},</if>
            <if test="beiyong2 != null">#{beiyong2},</if>
            <if test="beiyong3 != null">#{beiyong3},</if>
         </trim>
    </insert>

    <update id="updateFacilityUsageRecord" parameterType="FacilityUsageRecord">
        update facility_usage_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="usageStartTime != null">usage_start_time = #{usageStartTime},</if>
            <if test="usageEndTime != null">usage_end_time = #{usageEndTime},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="beiyong1 != null">beiyong1 = #{beiyong1},</if>
            <if test="beiyong2 != null">beiyong2 = #{beiyong2},</if>
            <if test="beiyong3 != null">beiyong3 = #{beiyong3},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteFacilityUsageRecordByRecordId" parameterType="Long">
        delete from facility_usage_record where record_id = #{recordId}
    </delete>

    <delete id="deleteFacilityUsageRecordByRecordIds" parameterType="String">
        delete from facility_usage_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>