<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.storehouse.mapper.ItemRecipeMapper">
    
    <resultMap type="ItemRecipe" id="ItemRecipeResult">
        <result property="itemId"    column="item_id"    />
        <result property="recipeId"    column="recipe_id"    />
    </resultMap>

    <sql id="selectItemRecipeVo">
        select item_id, recipe_id from item_recipe
    </sql>

    <select id="selectItemRecipeList" parameterType="ItemRecipe" resultMap="ItemRecipeResult">
        <include refid="selectItemRecipeVo"/>
        <where>  
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="recipeId != null "> and recipe_id = #{recipeId}</if>
        </where>
    </select>
    
    <select id="selectItemRecipeByItemId" parameterType="Long" resultMap="ItemRecipeResult">
        <include refid="selectItemRecipeVo"/>
        where item_id = #{itemId}
    </select>
        
    <insert id="insertItemRecipe" parameterType="ItemRecipe">
        insert into item_recipe
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemId != null">item_id,</if>
            <if test="recipeId != null">recipe_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemId != null">#{itemId},</if>
            <if test="recipeId != null">#{recipeId},</if>
         </trim>
    </insert>

    <update id="updateItemRecipe" parameterType="ItemRecipe">
        update item_recipe
        <trim prefix="SET" suffixOverrides=",">
            <if test="recipeId != null">recipe_id = #{recipeId},</if>
        </trim>
        where item_id = #{itemId}
    </update>

    <delete id="deleteItemRecipeByItemId" parameterType="Long">
        delete from item_recipe where item_id = #{itemId}
    </delete>

    <delete id="deleteItemRecipeByItemIds" parameterType="String">
        delete from item_recipe where item_id in 
        <foreach item="itemId" collection="array" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>
</mapper>