<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.storehouse.mapper.WarehouseItemMapper">
    
    <resultMap type="WarehouseItem" id="WarehouseItemResult">
        <result property="warehouseId"    column="warehouse_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="beiyong1"    column="beiyong1"    />
        <result property="beiyong2"    column="beiyong2"    />
        <result property="beiyong3"    column="beiyong3"    />
    </resultMap>

    <sql id="selectWarehouseItemVo">
        select warehouse_id, item_id, beiyong1, beiyong2, beiyong3 from warehouse_item
    </sql>

    <select id="selectWarehouseItemList" parameterType="WarehouseItem" resultMap="WarehouseItemResult">
        <include refid="selectWarehouseItemVo"/>
        <where>  
            <if test="warehouseId != null "> and warehouse_id = #{warehouseId}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="beiyong1 != null  and beiyong1 != ''"> and beiyong1 = #{beiyong1}</if>
            <if test="beiyong2 != null  and beiyong2 != ''"> and beiyong2 = #{beiyong2}</if>
            <if test="beiyong3 != null  and beiyong3 != ''"> and beiyong3 = #{beiyong3}</if>
        </where>
    </select>
    
    <select id="selectWarehouseItemByWarehouseId" parameterType="Long" resultMap="WarehouseItemResult">
        <include refid="selectWarehouseItemVo"/>
        where warehouse_id = #{warehouseId}
    </select>
        
    <insert id="insertWarehouseItem" parameterType="WarehouseItem">
        insert into warehouse_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">warehouse_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="beiyong1 != null">beiyong1,</if>
            <if test="beiyong2 != null">beiyong2,</if>
            <if test="beiyong3 != null">beiyong3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="warehouseId != null">#{warehouseId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="beiyong1 != null">#{beiyong1},</if>
            <if test="beiyong2 != null">#{beiyong2},</if>
            <if test="beiyong3 != null">#{beiyong3},</if>
         </trim>
    </insert>

    <update id="updateWarehouseItem" parameterType="WarehouseItem">
        update warehouse_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="beiyong1 != null">beiyong1 = #{beiyong1},</if>
            <if test="beiyong2 != null">beiyong2 = #{beiyong2},</if>
            <if test="beiyong3 != null">beiyong3 = #{beiyong3},</if>
        </trim>
        where warehouse_id = #{warehouseId}
    </update>

    <delete id="deleteWarehouseItemByWarehouseId" parameterType="Long">
        delete from warehouse_item where warehouse_id = #{warehouseId}
    </delete>

    <delete id="deleteWarehouseItemByWarehouseIds" parameterType="String">
        delete from warehouse_item where warehouse_id in 
        <foreach item="warehouseId" collection="array" open="(" separator="," close=")">
            #{warehouseId}
        </foreach>
    </delete>
</mapper>