<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.government.mapper.CategoryMapper">
    
    <resultMap type="Category" id="CategoryResult">
        <result property="categoryId"    column="category_id"    />
        <result property="knowledgeName"    column="knowledge_name"    />
        <result property="categoryTypeId"    column="category_type_id"    />
        <result property="knowledgeContent"    column="knowledge_content"    />
        <result property="contentStatus"    column="content_status"    />
        <result property="beiyong1"    column="beiyong1"    />
        <result property="beiyong2"    column="beiyong2"    />
        <result property="beiyong3"    column="beiyong3"    />
    </resultMap>

    <sql id="selectCategoryVo">
        select category_id, knowledge_name, category_type_id, knowledge_content, content_status, beiyong1, beiyong2, beiyong3 from category
    </sql>

    <select id="selectCategoryList" parameterType="Category" resultMap="CategoryResult">
        <include refid="selectCategoryVo"/>
        <where>  
            <if test="knowledgeName != null  and knowledgeName != ''"> and knowledge_name like concat('%', #{knowledgeName}, '%')</if>
            <if test="categoryTypeId != null "> and category_type_id = #{categoryTypeId}</if>
            <if test="knowledgeContent != null  and knowledgeContent != ''"> and knowledge_content = #{knowledgeContent}</if>
            <if test="contentStatus != null "> and content_status = #{contentStatus}</if>
            <if test="beiyong1 != null  and beiyong1 != ''"> and beiyong1 = #{beiyong1}</if>
            <if test="beiyong2 != null  and beiyong2 != ''"> and beiyong2 = #{beiyong2}</if>
            <if test="beiyong3 != null  and beiyong3 != ''"> and beiyong3 = #{beiyong3}</if>
        </where>
    </select>
    
    <select id="selectCategoryByCategoryId" parameterType="Long" resultMap="CategoryResult">
        <include refid="selectCategoryVo"/>
        where category_id = #{categoryId}
    </select>
        
    <insert id="insertCategory" parameterType="Category" useGeneratedKeys="true" keyProperty="categoryId">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="knowledgeName != null">knowledge_name,</if>
            <if test="categoryTypeId != null">category_type_id,</if>
            <if test="knowledgeContent != null">knowledge_content,</if>
            <if test="contentStatus != null">content_status,</if>
            <if test="beiyong1 != null">beiyong1,</if>
            <if test="beiyong2 != null">beiyong2,</if>
            <if test="beiyong3 != null">beiyong3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="knowledgeName != null">#{knowledgeName},</if>
            <if test="categoryTypeId != null">#{categoryTypeId},</if>
            <if test="knowledgeContent != null">#{knowledgeContent},</if>
            <if test="contentStatus != null">#{contentStatus},</if>
            <if test="beiyong1 != null">#{beiyong1},</if>
            <if test="beiyong2 != null">#{beiyong2},</if>
            <if test="beiyong3 != null">#{beiyong3},</if>
         </trim>
    </insert>

    <update id="updateCategory" parameterType="Category">
        update category
        <trim prefix="SET" suffixOverrides=",">
            <if test="knowledgeName != null">knowledge_name = #{knowledgeName},</if>
            <if test="categoryTypeId != null">category_type_id = #{categoryTypeId},</if>
            <if test="knowledgeContent != null">knowledge_content = #{knowledgeContent},</if>
            <if test="contentStatus != null">content_status = #{contentStatus},</if>
            <if test="beiyong1 != null">beiyong1 = #{beiyong1},</if>
            <if test="beiyong2 != null">beiyong2 = #{beiyong2},</if>
            <if test="beiyong3 != null">beiyong3 = #{beiyong3},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteCategoryByCategoryId" parameterType="Long">
        delete from category where category_id = #{categoryId}
    </delete>

    <delete id="deleteCategoryByCategoryIds" parameterType="String">
        delete from category where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>