<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.organization.mapper.BedMapper">
    
    <resultMap type="Bed" id="BedResult">
        <result property="bedId"    column="bed_id"    />
        <result property="bedNum"    column="bed_num"    />
        <result property="roomId"    column="room_id"    />
        <result property="userId"    column="user_id"    />
        <result property="bedRemark"    column="bed_remark"    />
        <result property="beiyong1"    column="beiyong1"    />
        <result property="beiyong2"    column="beiyong2"    />
        <result property="beiyong3"    column="beiyong3"    />
    </resultMap>

    <sql id="selectBedVo">
        select bed_id, bed_num, room_id, user_id, bed_remark, beiyong1, beiyong2, beiyong3 from bed
    </sql>

    <select id="selectBedList" parameterType="Bed" resultMap="BedResult">
        <include refid="selectBedVo"/>
        <where>  
            <if test="bedNum != null "> and bed_num = #{bedNum}</if>
            <if test="roomId != null "> and room_id = #{roomId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="bedRemark != null  and bedRemark != ''"> and bed_remark = #{bedRemark}</if>
            <if test="beiyong1 != null  and beiyong1 != ''"> and beiyong1 = #{beiyong1}</if>
            <if test="beiyong2 != null  and beiyong2 != ''"> and beiyong2 = #{beiyong2}</if>
            <if test="beiyong3 != null  and beiyong3 != ''"> and beiyong3 = #{beiyong3}</if>
        </where>
    </select>
    
    <select id="selectBedByBedId" parameterType="Long" resultMap="BedResult">
        <include refid="selectBedVo"/>
        where bed_id = #{bedId}
    </select>
        
    <insert id="insertBed" parameterType="Bed" useGeneratedKeys="true" keyProperty="bedId">
        insert into bed
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bedNum != null">bed_num,</if>
            <if test="roomId != null">room_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="bedRemark != null">bed_remark,</if>
            <if test="beiyong1 != null">beiyong1,</if>
            <if test="beiyong2 != null">beiyong2,</if>
            <if test="beiyong3 != null">beiyong3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bedNum != null">#{bedNum},</if>
            <if test="roomId != null">#{roomId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="bedRemark != null">#{bedRemark},</if>
            <if test="beiyong1 != null">#{beiyong1},</if>
            <if test="beiyong2 != null">#{beiyong2},</if>
            <if test="beiyong3 != null">#{beiyong3},</if>
         </trim>
    </insert>

    <update id="updateBed" parameterType="Bed">
        update bed
        <trim prefix="SET" suffixOverrides=",">
            <if test="bedNum != null">bed_num = #{bedNum},</if>
            <if test="roomId != null">room_id = #{roomId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="bedRemark != null">bed_remark = #{bedRemark},</if>
            <if test="beiyong1 != null">beiyong1 = #{beiyong1},</if>
            <if test="beiyong2 != null">beiyong2 = #{beiyong2},</if>
            <if test="beiyong3 != null">beiyong3 = #{beiyong3},</if>
        </trim>
        where bed_id = #{bedId}
    </update>

    <delete id="deleteBedByBedId" parameterType="Long">
        delete from bed where bed_id = #{bedId}
    </delete>

    <delete id="deleteBedByBedIds" parameterType="String">
        delete from bed where bed_id in 
        <foreach item="bedId" collection="array" open="(" separator="," close=")">
            #{bedId}
        </foreach>
    </delete>
</mapper>